/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

body {
	
	#container {
	    padding:0;
	    max-width:100%;

			    #header {
			    	background:white;
				    padding: 1% 0;
				    

				    #logo {
				    	width:100%;
				    	text-align:center;
				    }
				}

				#nav-wrapper {
				    margin: auto;
				    width: 100%;
				    background-color: #585858;
				    background-image: -moz-linear-gradient(center top , #585858, #3D3D3D);

				    #nav-inner-wrapper {
					    margin: auto;
					    width: 960px;
					}
				}

				#wrapper {
				    margin: auto;
				    width: 960px;
				    padding: 0 25px;
				}

	}

	#footer {
		
	}
}

#slideshow-holder {
	margin-bottom: 20px;

	#meteor-slideshow {
		border: white solid 1px;
		background: grey;
		-webkit-box-shadow: #000 5px 5px 10px 3px inset;
				    -moz-box-shadow: #000 10px 10px 10px 3px inset; /* color, h-offset, v-offset, blur, spread */
				    box-shadow: #000 10px 10px 10px 3px inset; /* inset is optional */
		margin: auto;
		height: 300px;
		width: 500px;

		#meteor-buttons {

		}

		.meteor-clip{

		}
	}
}