/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body #container {
  padding: 0;
  max-width: 100%;
}
/* line 12, ../sass/screen.scss */
body #container #header {
  background: white;
  padding: 1% 0;
  -webkit-box-shadow: #000 5px 5px 10px 3px inset;
  -moz-box-shadow: #000 10px 10px 10px 3px inset;
  /* color, h-offset, v-offset, blur, spread */
  box-shadow: #000 10px 10px 10px 3px inset;
  /* inset is optional */
}
/* line 19, ../sass/screen.scss */
body #container #header #logo {
  width: 100%;
  text-align: center;
}
/* line 25, ../sass/screen.scss */
body #container #nav-wrapper {
  margin: auto;
  width: 100%;
  background-color: #585858;
  background-image: -moz-linear-gradient(center top, #585858, #3d3d3d);
}
/* line 31, ../sass/screen.scss */
body #container #nav-wrapper #nav-inner-wrapper {
  margin: auto;
  width: 960px;
}
/* line 37, ../sass/screen.scss */
body #container #wrapper {
  margin: auto;
  width: 960px;
  padding: 0 25px;
}

/* line 50, ../sass/screen.scss */
#slideshow-holder {
  margin-bottom: 20px;
}
/* line 53, ../sass/screen.scss */
#slideshow-holder #meteor-slideshow {
  border: white solid 1px;
  background: grey;
  box-shadow: 1px 1px 1px 1px;
  margin: auto;
  height: 300px;
  width: 500px;
}
